body{
	background-color: lightgray;
}

footer{
	background-color: black;
	height: 100px;
	text-align: right;
	width: 100%; 	
}

footer div{
	margin: 30px 10px 20px 5px;
	display: inline-block;	
}

h1{
	padding: 10px;
	text-shadow: -5px 1px 10px #5c565c;
    filter: dropshadow(colo = #5c565c, offx = -5, offy = 1);
}

header{
	background-color:  lightblue; 
	margin: 0px auto;
	width: 100%;
}

nav{
	margin: 0px auto;
	width: 100%;
}

textarea{
	background-color: black;
	color: lightblue; 
	height: 450px;
	margin: 5px;
	width: 80%;
}

.alert-success{
	margin-top: 10px; 
}

.breadcrumb{
	margin: 0px;
	border-radius: 0px;
} 

.navbar{
	margin-bottom: 0px;
}

#content{
	width: 100%;
	text-align: center;
}

#content-main{
	background-color:  lightblue;
	margin: 0px auto;
	width: 100%;
}

#app-console, #login, #options{
	padding: 10px;	
}

#login{
	margin: 0px 0px;
}





