extends layout_console

block content
	section#app-console
		div#name_user(class="alert alert-success")
			a(class="close", data-dismiss="alert", href="#") x

		textarea(onkeydown="insertTab(this, event);")

		section#controller
			div#options
				label Manager
				select#user_manager
					option(class="option", value="---") Manager
			
			form#login
				label(class="control-label") Usuario
				input#user(class="text", type="text", placeholder="Usuario")
				label(class="control-label") Asunto
				input#issue(class="text", type="text",placeholder="Asunto")
				p
					input#btnlogin(class="btn btn-info", type="submit", required="required",value="Login")
				

