!!!
html(lang="es")
	head
		meta(charset="utf-8")
		script(src='/js/jquery-1.8.2.min.js')
		link(rel='stylesheet',href='/css/bootstrap.min.css')
		link(rel='stylesheet',href='/css/style.css')
		link(rel='stylesheet',href='/css/style_home.css')
	body
		header
			nav
				div(class="navbar")
					div(class="navbar-inner")
						ul(class="nav")
							li(class="active")
								a(href='/') Home
							li
								a(href='/app/') JamsConsole
		section#content-main
			block content

		footer
			div 
				a(href="https://twitter.com/JamsMendez")
					img(src="/img/logo_Twitter.png", alt="Twitter", width="50", height="50")
			div	
				a(href="https://plus.google.com/u/0/102924795170111656045/posts")
					img(src="/img/logo_Googleplus.png", alt="Googleplus", width="50", height="50")